@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color-light: #F3F3F3; /* Light background color */
  --background-color-dark: #1e1e1e; /* Dark background color */
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

/* Ensure the body can scroll */
body {
  background-color: var(--background-color-light); /* Default light background */
  color: #000; /* Default text color in light mode */
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: #ffffffc6; /* Adjusted white text for better contrast */
  }
}
